*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff
}

.header{
  background-color: #c3dbff;

}

@import 'partials/login';
@import 'partials/painel';
@import 'partials/nav-vertical';
