<%- include('../partials/head', {pageTitle: 'Login' }) %>

  <main>
    <div class="container">
      <div class="row d-flex flex-column justify-content-center align-items-center">

        <h2 class="text-center mt-5">Sistema de Usuários</h2>

        <div class="box p-4 mt-5">
          <h4 class="mb-5">Login</h4>

          <form action="/fazer-login" method="POST" onsubmit="return validatorLogin()">
            <div class="mb-3">
              <label for="usernameInput" class="form-label">Usuário</label>
              <input type="text" class="form-control" name="username" id="usernameInput" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="passwordInput" class="form-label">Senha</label>
              <input type="password" class="form-control" name="password" id="passwordInput" aria-describedby="emailHelp">
            </div>

            <div class="mb-5">
              <a href="">Esqueci minha senha</a>
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>

          </form>
          <div class="mt-5">
            <p>Ainda não tem uma conta? <a href="/criar-usuario">Criar uma conta</a></p>
            </dv>
          </div>
        </div>
      </div>



  </main>
  <script src="/js/validator-form.js"></script>
  <%- include('../partials/footer') %>