<%- include('../partials/head', {pageTitle: 'Meu Perfil' }) %>

<%- include('../partials/header') %>

<div class="container painel">

  <div class="row">
    <div class="col-2">
      <%- include('../partials/nav-vertical') %>
    </div>
  
    <main class="col-10">
  
      <div class="mt-5">
        <h5>Meu Perfil</h5>
        
        <div class="card  mb-5">
          <div class="card-header">
            Alterar senha
          </div>
  
          <form action="" class="p-3">
            <div class="mb-3">
                <label for="oldPasswordInput" class="form-label">Senha Antiga</label>
                <input type="text" name="oldPassword" class="form-control" id="oldPasswordInput" aria-describedby="oldPasswordHelp">
              </div>
  
              <div class="mb-3">
                <label for="lastNameInput" class="form-label">Nova senha</label>
                <input type="email" name="newPassword" class="form-control" id="newPasswordInput" aria-describedby="emailHelp">
              </div>
  
              <div class="mb-3">
                <label for="confirmPasswordInput" class="form-label">Confirme a nova senha</label>
                <input type="password" name="confirmPassword" class="form-control" id="confirmPasswordInput" aria-describedby="confirmPasswordHelp">
              </div>
  
              <button class="btn btn-primary">Atualizar</button>
          </form>
        </div>
  
        <div class="card  mb-5">
          <div class="card-header">
            Seus Detalhes
          </div>
  
          <form action="" class="p-3">
            <div class="mb-3">
                <label for="firstNameInput" class="form-label">Primeiro nome</label>
                <input type="text" name="firstName" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp">
              </div>
  
              <div class="mb-3">
                <label for="lastNameInput" class="form-label">Segundo nome</label>
                <input type="text" name="lastName" class="form-control" id="lastNameInput" aria-describedby="emailHelp">
              </div>
  
              <div class="mb-3">
                <label for="addressInput" class="form-label">Seu endereço</label>
                <input type="text" name="address" class="form-control" id="addressInput" aria-describedby="addressHelp">
              </div>
  
              <div class="mb-3">
                <label for="phoneInput" class="form-label">Telefone</label>
                <input type="text" name="phone" class="form-control" id="phoneInput" aria-describedby="phoneHelp">
              </div>
  
              <button class="btn btn-primary">Atualizar</button>
          </form>
        </div>
      </div>
    </main>
  </div>
  

</div>

<%- include('../partials/footer') %>