.painel{
  // display: flex;

  // main{
  //   width: 100%;
  // }
}

.box-comments{

  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 60px;
  .comments{
    border-left: 1px solid #313131;
    padding-left: 12px;
    color: #313131;
    .message{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .sub{
      font-size: 12px;
    } 
  }
}

.post-comments{

  textarea{
    width: 100%;
  }
}